h1, h2, h3 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

p, li {
  font-weight: 400;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #1e293b;
}

/* NAVBAR */
.navbar {
  background: #7c1d1d; /* RTU maroon */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.logo {
  color: #fff;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

/* SECTIONS */
.hero {
  padding: 120px 20px 80px;
  background: #0f172a;
  color: #fff;
  text-align: center;
}

.section {
  padding: 80px 20px;
  max-width: 1100px;
  margin: auto;
}

.section.light {
  background: #f8fafc;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

/* GRIDS */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 8px;
}

/* LISTS */
.list {
  max-width: 700px;
  margin: auto;
}

.steps {
  max-width: 700px;
  margin: auto;
}

/* IMAGES */
img {
  display: block;
  max-width: 100%;
  margin: 30px auto;
  border-radius: 8px;
}

/* FOOTER */
footer {
  background: #7c1d1d;
  color: white;
  text-align: center;
  padding: 30px 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
